Repository aeon-toolkit/aeon-neuro, pull requests merged in 2024-10, with the labels that each got.

#93 [ENH, DOC] refine Riemannian distance calculation in _riemannian_matrix and example
  aeon_neuro/_wip/distances/_riemannian_matrix.py
  examples/_wip/distances/riemannian_matrix.ipynb
Labels: documentation, enhancement, examples

#80 [BUG] BandPowerSeriesTransformer error
  aeon_neuro/transformations/_bandpower.py
  aeon_neuro/transformations/tests/test_bandpower.py
Labels: bug

#86 [ENH] Add option to downsample by proportion to DownsampleCollectionTransformer
  aeon_neuro/transformations/_downsample.py
  aeon_neuro/transformations/tests/test_downsample.py
Labels: enhancement

#87 [DOC] Notebook to show EEG classification pipeline
  examples/classification.ipynb
Labels: documentation, examples
